@mixin hidden {
  width: 0;
  height: 0;
  transform: scale(0);
}

@mixin button($bg,$opacity,$color) {
  @if ($opacity == 1) {
    background: $bg;
  }
  @if ($opacity == .5) {
    background: rgba($bg, .5);
  }
  color: $color;
  svg {
    fill: $color;
  }
  &:hover {
    box-shadow: 2px 2px 4px $bg;
  }
}

@mixin customScrollbar($bar,$thumb,$size) {
  &::-webkit-scrollbar {
    width: $size;
    height: 0;
    background: $bar;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb;
  }
}

@mixin shadow($size,$blur,$color) {
  box-shadow: $size $size $blur $color;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin border($size,$type,$color,$radius) {
  border: $size $type $color;
  border-radius: $radius;
}

@mixin display($direction,$justify,$align) {
  display: flex;
  flex-direction: $direction;
  @if ($justify == 'none') {
  } @else {
    justify-content: $justify;
  }

  @if ($align == 'none') {
  } @else {
    align-items: $align;
  }
}

@mixin center(){
  background: $light;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  legend{
    background: $light;
  }
}