//commun
main {
  padding: 0 .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}


//view all
.section-table {
  width: 100%;

  .table {
    @include border(1px, solid, $dark, 0);
    @include shadow(7px, 10px, $medium);
    padding: .5rem;
    width: 100%;

    .table-content {
      @include display(row, none, none);

      .ligne-content {
        @include display(row, none, none);
        width: 100%;
        gap: .2rem;

        .th {
          font-weight: bold;
          color: $light;
        }

        .th, .td {
          @include border(1px, solid, $dark, 5px);
          @include display(row, center, center);
          padding: .5rem;
          text-align: center;
        }
      }
    }

    .thead {
      padding-right: .5rem;
      margin-bottom: .3rem;

      .th {
        background: $accent;
      }
    }

    .tbody {
      @include display(column, none, none);
      @include customScrollbar($light, $dark, .5rem);

      height: 45rem;
      overflow: scroll;

      .ligne-content {
        &:nth-child(2n) {
          margin: .2rem 0;
        }
      }

      .tr:nth-child(2n) {
        .td {
          background: rgba($accent, .2);
        }
      }


      a {
        .btn {
          @include border(1px, solid, $dark, 10px);
          padding: .5rem;
          background: $accent;
          transition: all ease .5s;

          &:hover {
            background: none;
            color: $dark;
            @include shadow(2px, 2px, $accent);
          }
        }

        color: white;
        text-decoration: underline;
      }
    }
  }
}

.section-form {
  @include display(row, center, center);
  transition: width ease .5s;
  width: 50%;
  transform: scale(1);

  &.hidden {
    @include hidden;
  }

  fieldset {
    width: 50%;
  }
}

//view selected
.article-selected {
  @include display(row, space-around, none);
  width: 100%;
  height: 88vh;
  transition: width ease .5s;

  .appartement-container {
    @include display(column, space-around, center);
    width: 100%;

    .appartement-data {
      @include display(column, none, center);
      @include border(1px, solid, $dark, 10px);
      @include shadow(4px, 8px, $dark);
      gap: .5rem;
      padding: .5rem;
      width: 70%;
      position: relative;

      nav {
        @include display(row, space-around, center);
        width: 80%;
      }

      .data-container {
        @include display(column, none, none);
        @include customScrollbar($light, $dark, .2rem);
        gap: .5rem;
        height: 15rem;
        overflow: auto;

        .data-folder {
          @include display(row, space-around, center);
          @include shadow(2px, 4px, $medium);
          @include border(1px, solid, $dark, 15px);
          gap: .5rem;
          padding: .5rem;

          div {
            @include display(column, none, none);
          }
        }

        .data-content {
          @include display(row, center, center);

          .data-name {
            font-weight: bold;

            &:after {
              content: ":";
              margin: 0 .2rem;
            }
          }
        }
      }

      .etat-container {
        .data-folder {
          div {
            @include display(column, space-around, center);
            gap: .5rem;

            .data-content {
              width: 100%;

              .etat-remarque {
                @include customScrollbar($light, $dark, .2rem);
                width: 100%;
                max-height: 5rem;
                overflow: auto;

                p {
                  text-align: justify;
                }
              }
            }
          }
        }
      }
    }
  }
}

.form-view {
  width: 50%;
  height: 50%;

  &.hidden {
    display: none;
  }
}